// 颜色定义规范
$color-black: rgba(0, 0, 0, 0.85);
$color-white: #fff;
$color-theme: #38f;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-info: #909399;

// 字体定义规范
$font-size-x1: 10px;
$font-size-x2: 12px;
$font-size-x3: 14px;
$font-size-x4: 16px;
$font-size-x5: 18px;
$font-size-x6: 22px;

// 边距定义规范
$distance-x1: 8px;
$distance-x2: 16px;
$distance-x3: 24px;
$distance-x4: 32px;
$distance-x5: 40px;

$header-height: 46px;
$footer-height: 60px;
$van-tabs-height: 44px;
